
{% load static %}
{% include 'header.html' %}


  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Thanks</h6>
          <h2>{{tmessage}}</h2>
        </div>
      </div>
    </div>
  </section>
<style>

  p,li,h3{
    color:white;
    
  }

  .meetings-page ul li{
    list-style:circle;
    margin-left: 20px;
  }

  .carddd1{
    width: 60%;
  }

  section.meetings-page .main-button-red {
    text-align: left;
  }


</style>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">



        <div class="col-lg-12">
          <div class="row text-center">

            <p>Please check your Email Id..........</p>
            <br><br>
            <h3>Your Registation No.</h3>
            <p style="padding:20px; border: 2px solid gray; margin:40px;">
                {{regno}}
            </p>


            
           
            
          </div>
        </div>
      </div>
    </div>
   


    {% include 'footer.html' %}